<a href="https://colab.research.google.com/github/Binghan-Lin/20200918NO1/blob/master/2_string%E5%AD%97%E4%B8%B2%E8%B3%87%E6%96%99%E5%9E%8B%E6%85%8B(data_type)_%E5%8F%8A%E5%85%B6%E9%81%8B%E7%AE%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
str1 = '這是字串'
print(str1)

str2 = "這也是字串"
print(str2)

str3 = 'allows embedded "double" quotes'
print(str3)

這是字串
這也是字串
allows embedded "double" quotes

In [2]:
#!/usr/bin/python
 
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

var1[0]:  H
var1[1:8]:  ello Py

In [3]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str1 = 'Hello World!'

print("更新前的字串-> ", str1[:])
print("更新前的字串(也可以這樣寫)-> ", str1)
print("更新後的字串-> ", str1[:6] + 'Python!')

更新前的字串->  Hello World!
更新前的字串(也可以這樣寫)->  Hello World!
更新後的字串->  Hello Python!

In [4]:
str4=str1 + str2
print(str4)

Hello World!這也是字串

In [5]:
a='  Hello   '
b='  Python ! '

a+b

a*2

a[1:4]

"H" in a

"H" not in a

False

In [9]:
# Python code to reverse a string  
# using loop 
  
def reverse(s): 
  str = "" 
  for i in s: 
    str = i + str
  return str
  
s = "Geeksforgeeks"
  
print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using loops) is : ",end="") 
print (reverse(s))

The original string  is : Geeksforgeeks
The reversed string(using loops) is : skeegrofskeeG

In [13]:
str1='happy python day'
str2='    Oh!   '
str4=str1 + str2
print(str4.capitalize())

Happy python day    oh!

In [30]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python"
print(str.isalpha())

str = "bang"
print(str.isalpha())

True
True

In [29]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalnum())

str = "Python"
print(str.isalnum())

str = "2019"
print(str.isalnum())

str = "bang"
print(str.isalnum())

True
True
True
True